mmain{
    background-color:azure;
    text-align: center;
    padding-bottom: 20px;
    border: 5px solid red;
}
.mole{
    border-radius: 25px ;
    height: 25px;
    width:25px ;
}


.active {
  background-color: green;
}